.logo {
  background: url('../../assets/image/logo_1.png');
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 18px;
  margin-left: 20px;
  float: left;
}

.t1 {
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 60px;
  float: left;
  height: 60px;
  margin-left: 10px;
}

.sign_out {
  float: right;
  margin-right: 40px;
  /* width: 70px; */
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  height: 60px;
}

.nickname {
  float: right;
  /* width: 52px; */
  height: 80px;
  font-size: 18px;
  font-weight: 400;
  margin-right: 42px;
  color: rgba(51, 51, 51, 1);
}

.aside {
  /* width: 94%; */
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}

.head {
  position: relative;
  height: 60px;
  background-color: rgba(31, 37, 50, 1);
}

/deep/ .el-breadcrumb__inner.is-link {
  color: #078CA9;
}

.sign_out .circular {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

.aside_mune {
  margin-top: 10px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.aside_mune_img {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 12px;
  left: 40px;
}

.aside_mune_title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  position: absolute;
  left: 66px;
  top: 10px;
}

.aside_mune_btn {
  font-size: 16px;
  position: absolute;
  top: 11px;
  right: 20px;
  font-size: 16px;
}

.aside_sub_mune {
  height: 40px;
  position: relative;
  color: #333333;
  cursor: pointer;
}

.aside_sub_mune_title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  position: absolute;
  left: 66px;
  top: 10px;
}

.active {
  color: rgba(7, 140, 169, 1);
}

.aside_sub_mune_active {
  background: rgba(7, 140, 169, 0.1);
}

.active_line {
  width: 4px;
  height: 40px;
  background: #078CA9;
  position: absolute;
  right: 0;
}

.talk_img {
  position: fixed;
  bottom: 10%;
  right: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9;
}

.platform_news {
  position: absolute;
  top: 52px;
  right: 326px;
  width: 400px;
  height: 500px;
  background: rgb(249, 247, 247);
  border-radius: 5px;
  z-index: 99;
}

.message_title {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.yuan {
  position: absolute;
  top: 10px;
  left: 56%;
  width: 20px;
  height: 20px;
}

.message_nav {
  display: flex;
  padding: 0 10px;
}

.message_nav_item {
  flex: 1;
  margin-right: 12px;
  height: 24px;
  background: #c3c3c3;
  border-radius: 13px;
  font-size: 12px;
  font-family: PingFangSC-Regular,
    PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}
.message_con:hover{
  background: #cecece;
  cursor: pointer;
}

.message_nav_item:nth-child(4) {
  margin-right: 0;
}

.actived {
  font-size: 12px !important;
  font-family: PingFangSC-Regular,
    PingFang SC !important;
  font-weight: 400 !important;
  color: #078CA9 !important;
  background: rgba(7, 140, 169, 0.1) !important;
  border-radius: 13px !important;
  border: 1px solid #078CA9 !important;
}

.message_con {
  margin: 0 0 15px 0;
  width: 100%;
  padding-top: 15px;
}

.message_con .item_con {
  margin: 0 auto;
  width: 94%;
  font-size: 12px;
  font-family: PingFangSC-Regular,
    PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 18px;
  padding-top: 5px;
}

 .active_item_con {
  color: #078CA9 !important;
}

.message_con .item_time {
  padding-right: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-family: PingFangSC-Regular,
    PingFang SC;
  font-weight: 400;
  color: #666666;
  text-align: right;
}

.message_wrapper {
  margin-top: 10px;
  width: 100%;
  height: 380px;
  overflow-y: scroll;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  height: 45px;
  border-top: 1px solid #fff;
}

.bottom_wrapper .bottom_img {
  position: absolute;
  right: 20px;
  bottom: 50%;
  margin-bottom: -13px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.sure_img {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
