>>>.login_form .el-input__inner {
    height: 55px;
    font-size: 16px;
    border-radius: 3px;
    background: rgba(248, 248, 248, 1);
}

>>>.login_form .el-input-group__prepend {
    font-size: 18px;
    color: rgba(153, 153, 153, 1);
    background: rgba(248, 248, 248, 1);
}

>>>.register_container .el-input__inner {
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
    background: rgba(248, 248, 248, 1);
}

>>>.register_container .el-input-group__prepend {
    font-size: 18px;
    color: rgba(153, 153, 153, 1);
    background: rgba(248, 248, 248, 1);
}

>>>.register_container .el-input-group__prepend {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.login_background {
    width: 100%;
    height: 50%;
    background: rgba(7, 140, 169, 1);
    position: absolute;
}

.login_content {
    position: absolute;
    width: 820px;
    height: 62%;
    left: 50%;
    top: 9%;
    transform: translateX(-50%);
}

.login_logo_1 {
    background: url('../../assets/image/logo_3.png');
    width: 200px;
    height: 40px;
    background-size: 100% 100%;
    cursor: pointer;
}

.login_form {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 40px 0 40px 40px;
    margin-top: 40px;
}

.login_bgimg {
    width: 340px;
    height: 340px;
    position: absolute;
    right: 0;
    top: 167px;
}

.t1 {
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.t2 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    letter-spacing: 1px;
}

.btn1 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.login_input {
    margin-top: 10px;
    width: 400px;
    height: 60px;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}

.login_sign_btn {
    margin-top: 30px;
    width: 400px;
    height: 60px;
    background: rgba(7, 140, 169, 1);
    border-radius: 4px;
}

.login_bottom {
    width: 400px;
}

.register_top {
    margin-top: 10%;
    width: 80%;
}

.span_left {
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}

.span_right {
    font-size: 16px;
    color: rgba(7, 140, 169, 1);
}

.span_right:hover {
    cursor: pointer;
}

.register_title {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px;
    width: 820px;
    height: 60px;
    background: rgba(7, 140, 169, 1);
    border-radius: 4px 4px 0px 0px;
    line-height: 60px;
    text-align: center;
}

.register_cancel {
    float: right;
    font-size: 30px;
    color: rgba(51, 51, 51, 1);
    line-height: 40px;
}

.ruleForm_register_div {
    width: 400px;
    margin: 0 auto;
}

.register_input {
    width: 400px;
}

.register_content {
    background: rgba(245, 245, 245, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.login_logo_2 {
    background: url('../../assets/image/logo_2.png') no-repeat;
    width: 820px;
    height: 40px;
    margin: 30px auto 0 auto;
}

.register_container {
    width: 820px;
    margin: 20px auto 0 auto;
    width: 820px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding-bottom: 20px;
}

.email-code {
    font-size: 16px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 2%;
    margin-top: -1%;
}

.send_btn {
    background: rgba(250, 250, 250, 1);
    color: rgba(100, 100, 100, 1);
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    background: rgba(250, 250, 250, 1);
    border-radius: 3px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.register_btn {
    margin-top: 5%;
    width: 80%;
    height: 70px;
    background: rgba(7, 140, 169, 1);
    border-radius: 9px;
    text-align: center;
}

#code_img {
    margin-top: 10px;
}

.change_code {
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-top: 20px;
}

.terms_div {
    width: 400px;
    margin: 10px auto;
}

.terms_div a {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(7, 140, 169, 1);
}

.buttons {
    height: 50px;
    width: 400px;
    margin: 20px auto 0 auto;
}

.btn_l {
    width: 48%;
    height: 100%;
    background: rgba(7, 140, 169, 1);
    border-radius: 4px;
    float: left;
}

.btn_r {
    width: 48%;
    height: 100%;
    background: rgba(250, 250, 250, 1);
    border-radius: 4px;
    border: 1px solid rgba(221, 221, 221, 1);
    float: right;
}
